    <div class="s-widget m-b-25">
        <div id="sidebar-calendar"></div>
    </div>
    <script type="text/javascript">
UI.loader.push(function(){
    //Sidebar
    if ($('#sidebar-calendar')[0]) {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#sidebar-calendar').fullCalendar({
            editable: false,
            events: [],
            header: {
                left: 'title'
            }
        });
    }
});
    </script>

